<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://10.72.86.123:8886/hhtx-formal/appver/AnyCall_2.0.0.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://ims.10044.cn:8080/telecom/hhtxapp2.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://ims.10044.cn:8080/telecom/hhtxapp.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.hna.hna170.uc</string>
				<key>bundle-version</key>
				<string>2.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>海航通信-APP下载 </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
